body{
    font-family: Arial, Helvetica, sans-serif;
}
.a{
    
    background-color: #87CEEB;
    color: blue;
    margin-top: 25px;
    text-decoration: solid;
    font-weight: bolder;
}
#b{
    margin-left: 50px;
}
.h{
    text-align: center;
}
.s{
    margin-left: 20px;
}
table{
    margin-top: 25px;
    border: 1px solid black;
    border-collapse: collapse;
    width: 500px;
    height: 200px;
}
th{
    border: 1px solid black;
}

td{
    border: 1px solid black;
}
.i{
    margin-top: 25px;
}
#f{
    float: right;
    margin-top: 45px;
}